h1 {
    color: chartreuse;
    text-align: center;
    font-size: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt {
    height: 300px;
    width: 500px;
    font-size: 50px;
}

